/*========== XL-DESKTOP : BETWEEN 1200px TO 1500PX. ==========*/
@media (min-width: 1200px) and (max-width: 1500px) {
   /* GLOBAL */
   .container {
      max-width: 1120px;
   }
   h1 {
      font-size: 52px;
   }
   h2 {
      font-size: 43px;
   }
   h3 {
      font-size: 30px;
   }
   h4 {
      font-size: 25px;
   }
   h5 {
      font-size: 20px;
   }
   h6 {
      font-size: 16px;
   }
   body {
      font-size: 16px;
   }
   /* GLOBAL// */

}

/*========== LG + MD : BETWEEN 768PX TO 1199PX. ==========*/
@media (min-width: 768px) and (max-width: 1199px) {
   /* GLOBAL */
   h1 {
      font-size: 45px;
   }
   h2 {
      font-size: 38px;
   }
   h3 {
      font-size: 30px;
   }
   h4 {
      font-size: 25px;
   }
   h5 {
      font-size: 20px;
   }
   h6 {
      font-size: 15px;
   }
   body {
      font-size: 15px;
   }
   /* GLOBAL// */

}

/*========== LG-DESKTOP : BETWEEN 992PX TO 1199px. ==========*/
@media (min-width: 992px) and (max-width: 1199px) {
   /* GLOBAL */
   .container {
      max-width: 920px;
   }
   /* GLOBAL// */

}

/*========== MD-TABLET : BETWEEN 768PX TO 991PX ==========*/
@media (min-width: 768px) and (max-width: 991px) {
   /* GLOBAL */
   .container {
      max-width: 750px;
   }
   /* GLOBAL// */



}

/*========== SMALL MOBILE : SMALLER THEN 767PX ==========*/
@media (max-width: 767px) {
   /* GLOBAL */
   h1 {
      font-size: 32px;
   }
   h2 {
      font-size: 30px;
   }
   h3 {
      font-size: 20px;
   }
   h4 {
      font-size: 20px;
   }
   h5 {
      font-size: 18px;
   }
   h6 {
      font-size: 14px;
   }
   body {
      font-size: 14px;
   }
   /* GLOBAL// */
   
   .border-shape::after,
   .border-shape::before {
      border-radius: 20px;
   }
   .border-shape::after {
      border-width: 3px;
   }

   /* Section title  */
   .section-title p span {
      width: 30px;
      margin: 0 15px;
   }
   .section-title p {
      font-size: 14px;
      margin-bottom: 15px;
   }
   /* Section title END */

   /* About area  */
   .about-img img {
      height: 200px;
      border-radius: 100px;
      width: 90%;
   }
   .about-img::after {
      width: 60%;
      height: 100%;
      right: 0;
   }
   /* About area END */





}

/*========== LARGE MOBILE : BETWEEN 480PX TO 767PX ==========*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .container {
      max-width: 350px;
   }
   .footer-copyright::after {
      left: auto;
      right: -52%;
   }
}
